body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather";
  background-color: #DCD7C9;}

.top-container {
  position: static;
  text-align: center;}

.top-img {
  height: 300px;
  width: 100%;}

.name {
      position: absolute;
      top: 30%;
      left: 30%;
      transform: translate(-50%, -50%);
      font-family: "acme";
      font-size: 300%;
      color: white;}

.bottom-container{
        width: 80%;
        margin: auto;
        text-align: left;
        line-height: 1;}

.icon-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 40px;}

.master {margin: 30px auto 50px auto;}
.bachelor {margin: 10px auto 50px auto;}

.footer {
  background-color: #4C3A51;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #DCD7C9;}

.footer-link {color: #DCD7C9}
